{% extends "base.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">404: Page not found</h1>
  Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href={{ config.base_url }}>Head back home</a> to try finding it again.</p>
</div>
{% endblock content %}
