{% import "macros.html" as macros %}
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.title }}{% block title %}{% endblock title %}</title>
    <meta name="description" content="{{ config.extra.subtitle }}">
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
    {% endif %}
    {% if config.extra.headlinks %} {% for link in config.extra.headlinks %}
    <link rel="{{ link.rel }}" href="{{ link.link | safe }}">
    {% endfor %} {% endif %}
    {% if indieauth %}
    <link rel="openid.delegate" href="{{ config.base_url }}" />
    <link rel="openid.server" href="https://openid.indieauth.com/openid" />
    {% endif %}
  </head>
  {% endblock head %}

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <nav>
        <a class="underline" href="/about">about</a>
        <a class="underline" type="application/rss+xml" href="{{ get_url(path="rss.xml") }}">rss</a>
      </nav>
      <div class="site-title">
        <h1>
          <a href="/">0x44:{% block sitetitle %}{% endblock sitetitle %}$</a><span class="cursor">█</span>
        </h1>
      </div>
    </header>
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
    <footer>
      {% block footer %}
      {{ macros::hcard(hidden=true) }}
      &copy; Copyright 2019 - pard68.
      {% endblock footer %}
      <br><a href="https://xn--sr8hvo.ws/%F0%9F%93%B0%F0%9F%8C%AE%F0%9F%91%91/previous">←</a>
        An IndieWeb Webring 🕸💍
      <a href="https://xn--sr8hvo.ws/%F0%9F%93%B0%F0%9F%8C%AE%F0%9F%91%91/next">→</a>
    </footer>
  </body>
</html>
