{% extends "base.html" %}

{% block title %} - index{% endblock title %}
{% block sitetitle %}{% endblock sitetitle %}

{% block content %}
	<div class="posts">
		{% for post in section.pages %}
			<div id="archive">
				<h3>
					<a class="highlight" href="{{ post.permalink }}">
						{{ post.date | date(format ="%Y-%m-%d") }}</a> - {{ post.title }}
				</h3>
			</div>
	</div>
		{% endfor %}
{% endblock content %}
